.table-note-th {
    width: 30%;
}

.table-th-width-20 {
    width: 20%;
}

.table-th-width-40 {
    width: 40%;
}

.table-th-width-15 {
    width: 15%;
}

.table-th-width-12 {
    width: 12%;
}

.table-th-width-10 {
    width: 10%;
}

.table-th-width-6 {
    width: 6%;
}

.class-td-height {
    height: 77px;
}