<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>教育资源管理系统</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="/public/plugins/metronic/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/metronic/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/metronic/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/metronic/css/style-metro.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/metronic/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/metronic/css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/metronic/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="/public/plugins/metronic/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/public/plugins/metronic/css/login-soft.css" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL STYLES -->

    <link rel="shortcut icon" href="/public/plugins/metronic/image/favicon.ico" />
</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body class="login">
<!-- BEGIN LOGO -->
<div class="logo">
    <img src="/public/plugins/metronic/image/logo-big.png" alt="" />
</div>
<!-- END LOGO -->

<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form class="form-vertical login-form" action="index.html">
        <h3 class="form-title">用户登录</h3>
        <% if (locals.errorMessage){%>
        <div class="alert alert-error">
            <button class="close" data-dismiss="alert"></button>
            <span><%= errorMessage%></span>
        </div>
        <%}%>
        <div class="control-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">工号</label>
            <div class="controls">
                <div class="input-icon left">
                    <i class="icon-user"></i>
                    <input class="m-wrap placeholder-no-fix" type="text" placeholder="请输入工号" name="user_no"/>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label visible-ie8 visible-ie9">密码</label>
            <div class="controls">
                <div class="input-icon left">
                    <i class="icon-lock"></i>
                    <input class="m-wrap placeholder-no-fix" type="password" placeholder="请输入密码" name="password"/>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <label class="checkbox">
                <input type="checkbox" name="remember" value="1"/> 记住账号
            </label>
            <button type="submit" class="btn blue pull-right">
                登录 <i class="m-icon-swapright m-icon-white"></i>
            </button>
        </div>
    </form>
    <!-- END LOGIN FORM -->
</div>
<!-- END LOGIN -->

<!-- BEGIN COPYRIGHT -->
<div class="copyright">
    2018 &copy; by Xuzishuai.
</div>
<!-- END COPYRIGHT -->

<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<script src="/public/plugins/jquery2_1_1/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="/public/plugins/metronic/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/bootstrap.min.js" type="text/javascript"></script>
<!--[if lt IE 9]>
<script src="/public/plugins/metronic/js/excanvas.min.js"></script>
<script src="/public/plugins/metronic/js/respond.min.js"></script>
<![endif]-->
<script src="/public/plugins/metronic/js/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/jquery.cookie.min.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/jquery.uniform.min.js" type="text/javascript" ></script>
<!-- END CORE PLUGINS -->

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/public/plugins/metronic/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/jquery.backstretch.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/public/plugins/metronic/js/app.js" type="text/javascript"></script>
<script src="/public/plugins/metronic/js/login-soft.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function() {
        App.init();
        Login.init();
    });
</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>